# Platform
CONFIG_MACH_XIAOMI=y
CONFIG_MACH_XIAOMI_SDM845=y

# Persistent store
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y

# Timers subsystem
CONFIG_NO_HZ_IDLE=y

#
# Compile-time checks and compiler options
#
CONFIG_FRAME_WARN=4096

# DebugFS
CONFIG_DEBUG_FS=y
CONFIG_MSM_TZ_LOG=y
CONFIG_CMA_DEBUGFS=y
CONFIG_REGMAP_ALLOW_WRITE_DEBUGFS=y
CONFIG_IPA_UT=y
CONFIG_IOMMU_TESTS=y
CONFIG_QMP_DEBUGFS_CLIENT=y

#Debug
CONFIG_PM_DEBUG=y
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_PM_TEST_SUSPEND=y

# governor
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y

# logging
CONFIG_SCSI_CONSTANTS=y
